cycler==0.10.0
functools32==3.2.3.post2
Jinja2==2.10
MarkupSafe==1.0
matplotlib~=3.3.4
numpy~=1.20.2
pandas~=1.2.4
pep8==1.7.1
psycopg2~=2.8.6
pycodestyle==2.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn~=0.24.2
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
xlrd==1.1.0

scipy~=1.6.3
seaborn~=0.11.1